---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const aocPosts = (
  await Astro.glob("./blog/advent-of-code/2022/*.{md,mdx}")
).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="flex">
      <section class="my-8">
        <h1 class="">blog</h1>
        <ul>
          {
            posts.map((post) => (
              <li class="flex gap-2 justify-between">
                <a href={post.url}>{post.frontmatter.title}</a>
                <time
                  class="text-xs italic mr-2"
                  datetime={post.frontmatter.pubDate}
                >
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
              </li>
            ))
          }
          <section class="my-8">
            <h2>adventofcode 2022</h2>
            <ul>
              {
                aocPosts.map((post) => (
                  <li class="flex gap-2 justify-between">
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <time
                      class="text-xs italic mr-2"
                      datetime={post.frontmatter.pubDate}
                    >
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-us",
                        {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        }
                      )}
                    </time>
                  </li>
                ))
              }
            </ul>
          </section>
        </ul>
      </section>
      <hr />
    </main>
    <Footer />
  </body>
</html>
