---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const url =
  "https://hot-buns-dev.up.railway.app/api/tweets/hhhghq0/likes/media";

const token = import.meta.env.HONO_TOKEN as string;
const res = await fetch(url, {
  headers: {
    Authorization: `Bearer ${token}`,
  },
});

const data = await res.json();

console.log(data);
console.log(data);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <ul class="flex flex-col gap-4 my-8">
        <h3>tweet lists</h3>
        {
          data?.media &&
            data.media.map((tweet: any) => (
              <li>
                <img
                  src={tweet?.url}
                  alt={tweet?.alt_text || "no alt text provided"}
                />
                
              </li>
            ))
        }
        <li>
          mouse: <a class="rounded-xl p-2 text-indigo-300" href="/"
            >secret contents</a
          >
        </li>
        <li>
          cat: <a
            class="rounded-xl p-2 text-lg text-blue-600 font-mono"
            href="/">secret contents</a
          >
        </li>
        <li>
          lizard: <a
            class="rounded-xl p-2 text-xl text-pink-700 bg-white"
            href="/">secret contents</a
          >
        </li>
        <li>
          snake: <a class="rounded-xl p-2 text-xs text-violet-200" href="/"
            >secret contents</a
          >
        </li>
        <details class="indent-0">
          <summary>dog</summary>
          <div class="indent-20 flex flex-col gap-4">
            <li>
              shibe: <a class="rounded-xl p-2 text-indigo-300" href="/"
                >secret contents</a
              >
            </li>
            <li>
              leone: <a class="rounded-xl p-2 text-indigo-300" href="/"
                >secret contents</a
              >
            </li>
            <details class="indent-20">
              <summary>real</summary>
              <div class="indent-40 flex flex-col gap-4">
                <li>
                  <a
                    class="rounded-xl p-2 text-xl text-pink-700 bg-white"
                    href="/">secret contents</a
                  >
                </li>
                <li>
                  bark: <a class="rounded-xl p-2 text-indigo-300" href="/"
                    >secret contents</a
                  >
                </li>
                <li>
                  barking: <a class="rounded-xl p-2 text-indigo-300" href="/"
                    >secret contents</a
                  >
                </li>
              </div>
            </details>
          </div>
        </details>
      </ul>
    </main>
    <Footer />
  </body>
</html>
