---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import data from "../data/processed-liked-tweets.json";
import type { IMediaObj, ITweetObj, IUserObj } from "@typings/twitter";

// const url =
//   "https://hot-buns-dev.up.railway.app/api/tweets/hhhghq0/likes/media";

// const token = import.meta.env.HONO_TOKEN as string;
// const res = await fetch(url, {
//   headers: {
//     Authorization: `Bearer ${token}`,
//   },
// });

// const data = await res.json();
const pplfromtwitter = data as unknown as IUserObj[];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <ul class="flex flex-col gap-4 my-8">
        <div class="flex gap-8 max-w-[1000px]">
          <ul class="bg-slate-900 px-4 my-8">
            {
              pplfromtwitter.map((person) => (
                <li class="py-8">
                  <a class="" href={`https://twitter.com/${person.username}`}>
                    {person.username}
                  </a>
                  <ul class="bg-slate-800 mx-2 flex flex-col gap-6">
                    {person.tweets.map((tweet: ITweetObj) => (
                      <li class="flex flex-col gap-2">
                        <p>{tweet.text}</p>
                        <span class="text-slate-400">
                          <time
                            datetime={new Date(
                              tweet.created_at
                            ).toLocaleDateString()}
                          >
                            {new Date(tweet.created_at).toLocaleDateString()}
                          </time>
                        </span>
                        {tweet?.media &&
                          tweet.media.map((mdia: IMediaObj) => (
                            <>
                              <ul class="bg-slate-900 p-2">
                                <details>
                                  {mdia.type === "photo" && (
                                  <summary>{mdia.type}</summary>
                                    <img src={mdia.url} />
                                  )}
                                  {mdia.type === "video" && (
                                  <summary>{mdia.type} preview</summary>
                                    
                                  <img
                                      src={mdia.preview_image_url}
                                      alt="video preview"
                                    />
                                  )}
                                </details>
                              </ul>
                            </>
                          ))}
                      </li>
                    ))}
                  </ul>
                </li>
              ))
            }
          </ul>
        </div>

        <li>
          mouse: <a class="rounded-xl p-2 text-indigo-300" href="/"
            >secret contents</a
          >
        </li>
        <li>
          cat: <a
            class="rounded-xl p-2 text-lg text-blue-600 font-mono"
            href="/">secret contents</a
          >
        </li>
        <li>
          lizard: <a
            class="rounded-xl p-2 text-xl text-pink-700 bg-white"
            href="/">secret contents</a
          >
        </li>
        <li>
          snake: <a class="rounded-xl p-2 text-xs text-violet-200" href="/"
            >secret contents</a
          >
        </li>
        <details class="indent-0">
          <summary>dog</summary>
          <div class="indent-20 flex flex-col gap-4">
            <li>
              shibe: <a class="rounded-xl p-2 text-indigo-300" href="/"
                >secret contents</a
              >
            </li>
            <li>
              leone: <a class="rounded-xl p-2 text-indigo-300" href="/"
                >secret contents</a
              >
            </li>
            <details class="indent-20">
              <summary>real</summary>
              <div class="indent-40 flex flex-col gap-4">
                <li>
                  <a
                    class="rounded-xl p-2 text-xl text-pink-700 bg-white"
                    href="/">secret contents</a
                  >
                </li>
                <li>
                  bark: <a class="rounded-xl p-2 text-indigo-300" href="/"
                    >secret contents</a
                  >
                </li>
                <li>
                  barking: <a class="rounded-xl p-2 text-indigo-300" href="/"
                    >secret contents</a
                  >
                </li>
              </div>
            </details>
          </div>
        </details>
      </ul>
    </main>
    <Footer />
  </body>
</html>
